<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Your Password</title>
</head>

<body style="{{styles.body}}">
    <div style="{{styles.container}}">
        <div style="{{styles.header}}">
            <h1 style="{{styles.header_h1}}">Reset Your Password</h1>
        </div>
        <div style="{{styles.content}}">
            <p>Dear <strong>{{name}}</strong>,</p>
            <p>We received a request to reset the password associated with your account. Please use the verification
                code below to proceed:</p>
            <div style="{{styles.otp_container}}">
                <p style="{{styles.otp_text}}">
                    Your OTP: {{code}}
                </p>
            </div>
            <p>If you didn’t request a password reset, please ignore this email or contact our support team if you have
                any concerns.</p>
            <p>You can reset your password by clicking the button below:</p>
            <a href="{{url}}" style="{{styles.cta}}">Reset Your Password</a>
            <p>For security reasons, this code will expire shortly. Make sure to complete the process soon!</p>
            <p>If you have any questions or need assistance, feel free to reach out to our support team.</p>
            <p>Best Regards,</p>
            <p>{{brand_name}} Team</p>
        </div>
        <div style="{{styles.footer}}">
            <p>&copy; {{copyright_year}} {{brand_name}}. All rights reserved.</p>
        </div>
    </div>
</body>

</html>